.banner{
    box-sizing:border-box ;
    background-image: url(../../Assets/img/1631874.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 799px;
    border-bottom: 10px solid #A6D9FF;
    padding-top: 115px;
    padding-left: 90px;


}

.banner .wrapper{
    display: inline-flex;
    flex-direction: column;
    width: 600px;
    
}

.banner .box{
    margin-bottom: 40px;

}


.banner .navigation {
    display: inline-flex;
    justify-content: space-evenly;
    

}