.section{
background-color: #111236;
padding-top: 50px;
padding-bottom: 100px;
border-bottom: 10px solid #A6D9FF;

}

.section.-bgblack{
    background-color: black;
   
}
.section.-bdblue{
    border-color: #2784B0;
}